﻿html,
body {
    height: 100%;
}

#wrap {
    min-height: 90%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#push,
#footer {
    height: 40px;
    margin-top: 40px;
}

/*#footer {
    background-color: #f5f5f5;
}*/
#footer .navbar .navbar-inner{
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#topbarPad{
    height: 60px;
}

/* index */

#logoDiv .media-heading{
    padding-top: 40px;
    font-weight: normal;
}

#logoDiv .media-heading span{
    color: #f90;
    font-size: 40px;
}

.progress-label {
    float: left;
    margin-left: 50%;
    margin-top: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

#profilePicContainer > *{
    max-height: 340px;
}

#profileDescription{
    width: 100%;
}

#subjectTable button.btn, #interestContainer button.btn{
    margin-bottom: 5px;
}

#subjectTable button.btn.active, #interestContainer button.btn.active{
    background-color: #f89406;
}

.sub-title{
    color: #f90
}

.tutorRow{
    margin-bottom: 20px;
}

.icon-loading{
    background: url('../images/ajax-loader.gif') no-repeat center;
}

.errorMsg{
    font-size: 12px;
    color: red;
    font-weight: bold;
}

#updateTutorRes{
    margin-left: 10px;
}

/* PM */
#pmTable{
    table-layout: fixed;
    word-wrap: break-word;
}

#pmTable .pm-content span{
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}

#pmTable .pm-content span.expandMsg{
    white-space: normal;
}

textarea{
    width: 90%;
}

#updateProfileForm .districtBtn{
    margin-bottom: 5px;
    margin-right: 5px;
}

#updateProfileForm .districtBtn.active{
    background-color: #f89406;
}

#regEmailNotice{
    font-size: 14px;
}

#recaptcha_privacy{
    display: none;
}